.features{
    width:100%;
    height:100vh;
    margin:0;
    padding:0;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assests/chatimg.jpg');
}
.featureCent{
   width:80%;
   display:flex;
   justify-content: space-between;
   align-items: center;
   height:31.5%;

}


.feature{
    width:300px;
    height:100% ;
    border-radius: 5px;
}
.feature h3{
    text-align: center;
}
.featureCent .diffstyle1{
    font-size: 17px;
}
.diffCards{
    display:flex;
    width:100%;
}
.featureCent .diffstyle2 {
    background-color: rgb(102, 102, 212);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
    cursor: pointer;
    transition: all ease 200ms;
    box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25),
    0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
}
.featureCent .diffstyle2 p{
    color:aliceblue;
}
.featureCent .diffstyle2 h3 {
    text-align: center;
    color:rgb(223, 217, 217);
}
.featureCent .diffstyle2 h2 {
    text-align: center;
    color:rgb(197, 187, 187);
}
